/* body {
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
} */

/* Universal-----------------------------------------------------------------*/
* {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}
/* Header--------------------------------------------------------------------*/
.header-container {
  background-color: white;
  height: 15vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 50px;
  margin: 5px 20px;
  color: #F76120;
  font-weight: 600;
}
/* Nav-----------------------------------------------------------------------*/

nav {
  border-bottom: solid 2px #2A1B10;
  border-top: solid 2px #2A1B10;
  margin: 30px 10px;
  width: 80vw;
  display: flex;
  justify-content: flex-end;
}

p {
  padding: 15px 5px;
  font-weight: 500;
  font-size: 20px;
  color: #2A1B10;
}

/* Body----------------------------------------------------------------------*/

body {
  background-color: #FAF6F5;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-dashboard {
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: baseline; */
}

h2 {
  font-size: 35px;
  font-weight: 500;
  color: #2A1B10;
}

.booking-tiles-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80vw;
}

.past-bookings,
.current-bookings,
.future-bookings {
  background: rgba(247, 97, 32, 0.7);
  margin: 20px;
  height: 30vh;
  width: 30vw;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}


.past-booking-cards-container,
.current-booking-cards-container,
.future-bookings-cards-container {
  overflow-y: scroll;
}
/* .future-bookings::-webkit-scrollbar,
.current-bookings::-webkit-scrollbar,
.past-bookings::-webkit-scrollbar {
  width: 10%;
} */

.past-booking-cards-container::-webkit-scrollbar,
.past-booking-cards-container::-webkit-scrollbar,
.past-booking-cards-container::-webkit-scrollbar {
  width: 10%;
}
/* add inner box shadow it will look more scrollable */


.total {
  background: rgba(247, 97, 32, 0.8);
  border-radius: 30px;
  height: 20vh;
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

h3 {
  font-weight: 500;
  color: #2A1B10;
  padding-top: 20px;
}

.total-spent {
  margin-left: 30px;
  padding-top: 60px;
  font-size: 25px;
  color: #2A1B10;
}

.bookings-card {
  background-color: #FAF6F5;
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0px;
}

.booking-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.date,
.room-type,
.booking-details,
.booking-total {
  font-size: 10px;
  padding: 5px;
}
